
.intro{
  padding-top: 3%;
  display: flex;
}

.profileContainer{
  padding-right: 10%;
  padding-left: 5%;
}

.profilePic{
  width: 200px;
  height: 200px;
  border: 5px solid #289726;
  background-color: #dfdfdf;
  border-radius: 50%;
  
}
.profilePic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.proTitle{
  font-size: 90%

}

a:visited {
  color: white;
}

#personalStatement{
  padding-right: 5%;
}

#resume {
  padding-bottom: 3%;
}


#image-track{

  margin-bottom: 15%;
  overflow: hidden;

}

.Projects{
  font-size: 220%;
}

@media (max-width: 767px) {

  .intro{
    justify-content: center;
  }
  .mobileIntro{
    
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 200%;
    font-weight: 1000;
    margin: 0px;
  } 
  
  .profilePic{
    align-items: center;
    justify-content: center;
  }

  .profileContainer{
    padding-right: 0;
    padding-left: 0;
  }

  #personalStatement{
    display: none;
  }
}

@media (min-width: 768px){
  .mobileIntro{
    display: none;
  }
}

